:root{
    --bg-color: #fff9f3;
    --switchers-main: #192238;
    --white: #FFF;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all.2s linear;
    line-height: 1.5;
}
html{
    background: var(--bg-color);
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%
}
/* #fff9f3 */
/* #0f1422 */

/* barra de navegacion */


header{
    width: 275px;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background: #070a11;
    display: flex;
    z-index: 10;
    flex-flow: column;
    min-height: 100vh;
}
header h3{
    font-size: 3rem;
    color: #dfdfdf;
    text-align: left;
    margin-top: 60px;
    padding-left: 20px;
}
.perfil{
    width: 100%;
    display: flex;
    align-items: center;
    
    margin-top: 20px;
}
.perfil img{
    margin: 5px;
    margin-left: 15px;
    border-radius: 100px;
    border: solid black 2px;
}
.contenedor{
    color: white;
    margin-left: 5px;
    width: 70px;
}
.contenedor p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.contenedor .rango{
    font-size: 12px;
}
.direccion{
    margin-top: 50px;
    background: #192238;
    padding: 15px;
    width: 100%;
    color: rgb(255, 255, 255);
}
.direccion .links div .as{
    color: white;
    font-size: 1.8rem;
}
.direccion .links div .as:hover{
    color: rgb(64, 124, 255);
}
.direccion .links{
    width: 70px;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 15px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}
.direccion .links:hover{
    color: rgb(64, 124, 255);;
    padding-left: 10px;
}
.direccion .links div{
    width: 300px;
}
.direccion .links div span{
    padding-left: 10px;
    font-size: 1.8rem;
}
.direccion h2{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 2rem;
}
.configuracion{
    position: fixed;
    width: 300px;
    top: 10px; right: -110rem;
    background: #070a11;
    z-index: 7;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 120px 0 0 120px;
    display: none;
    transition: all 2s linear;
}
.configuracion .light-dark,
.configuracion .color-icon .icons{
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--switchers-main);
    color: var(--white);
    line-height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    font-size:14px;
}
.configuracion.active{
    right: 0;
    display: flex;
    transition: all 2s linear;
}
.configuracion .light-dark,
.configuracion .color-icon .icons:hover{
    background: #2a3555;
}
#menu-btn{
    position: fixed;
    top: 1rem; left: 2rem;
    z-index: 11;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    background: #192238;
    color: white;
    display: none;
}
#menu-btn:hover{
    background: #2a3555;
}
#menu-conf{
    position: fixed;
    top: 20px; right: 2rem;
    z-index: 9;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    background: #232d46;
    color: white;
}
#menu-conf:hover{
    background: #2a3555;
    animation: spin 1s linear infinite;
}
.fa-home{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-comments{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-project-diagram{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-poll-h{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-user-graduate{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-door-closed{
    transition: all 100ms ease-in-out;
    font-size: 24px;
    color: white;
}
.fa-globe{
    color: green;
    animation: pulso 5000ms infinite;
}

@media (max-width:800px){
    header{
        left: -110%;
    }
    header.active{
        left: 0%;
    }
    #menu-btn{
        display: initial;
    }
    .effect-3{
        display: none;
    }
}
@media (max-width:450px) {
    header{
        width: 100%;
    }
    header h3{
        font-size: 4rem;
        text-align: center;
        margin-top: 20px;
    }
    .perfil{
        display: flex;
        align-items: center;
        flex-flow: column;
        margin: 5px;
    }
    .perfil img{
        width: 100px;
        border: 5px solid gray;
    }
    .contenedor{
        text-align: center;
        width: 100%;
    }
    .contenedor p{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .direccion{
        margin-top: 10px;
    }
    .direccion .links{
        margin-top: 10px;
    }
}