*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
}
:root{
    --main-color: rgb(226, 122, 36);
    --main-color-dark: rgb(17, 48, 94);
    --main-color-light: rgb(110, 155, 223);
    --text-color: #cfcfcf;
    --ul: url(../img/fondoForo2.svg);
}
html{
    /* background: url(../img/fondoForo2.svg); */
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

body{
    top: 0;
    background: url(../img/fondoForo2.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
}

header{
    text-align: center;
    position: fixed;
    top:0; left:0;
    width: 100%;
    background: rgb(153, 86, 24);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
    padding: 1.1rem 9%;
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: space-between;
    animation: slideInDown;
    animation-duration: 0.5s; 
    transition: all 500ms ease;
}

header .titulo{
    font-weight: 600;
    font-size: 24px;
    color: rgb(231, 231, 231);
    text-align: center;
}
header .navbar a{
    font-weight: bolder;
    font-size: 1rem;
    margin-left: 2rem;
    color: rgb(255, 255, 255);
}
header .navbar .spectre{
    font-size: 1rem;
    margin-left: 2rem;
    color: rgb(202, 154, 99);
}
header .navbar a:hover{
    color: rgb(248, 200, 97);
}
header .navbar .spectre:hover{
    color:rgb(255, 255, 255);
}
header input{
    display: none;
}
header label{
    font-size: 3rem;
    color: var(--bluel);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

nav{
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background-color: var(--main-color);
    width: 16rem;
    z-index: 1000;
}
main{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 2rem;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    width: 50px;
    text-align: center;
    
}

/*Titulo barra*/
.slidebar-top{
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 80px;
    text-align: center;
}
.slidebar-top h3{
    color: white;
    text-align: center;
    font-size: 2em;
    margin-left: 15px;
    margin-bottom: 10px;
}
.rango{
    font-size: 1em;
}
.shrink-btn{
    position: absolute;
    top: 50%;
    height: 27px;
    width: 50px;
    padding: 5px;
    background-color: var(--main-color);
    transform: translateY(-50%) translateX(-8px);
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    right: -3.75rem;
    cursor: pointer;
    transition: 0.3s;
}
nav:hover .shrink-btn{
    transform: translateY(-50%) translateX(-8px);
    opacity: 1;
    pointer-events: all;
}
.perfil{
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.247);
}
.perfil img{
    margin: 5px;
    margin-left: 15px;
    border-radius: 100px;
    border: solid black 2px;
}
.punto{
    background: green;
    color: green;
    border-radius: 100px;
    width: 10px;
}
.contenedor{
    color: white;
    margin-left: 5px;
    width: 70px;
}
.contenedor p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.contenedor .rango{
    font-size: 12px;
}
.direccion{
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.247);
    padding: 15px;
    color: rgb(255, 255, 255);
}
.direccion .links div .as{
    color: white;
}
.direccion .links div .as:hover{
    color: rgb(255, 211, 116);
}
.direccion .links{
    width: 70px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 15px;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}
.direccion .links:hover{
    color: rgb(255, 211, 116);
    padding-left: 10px;
}
.direccion .links div{
    width: 300px;
}
.direccion .links div span{
    padding-left: 10px;
}
.direccion h2{
    margin-top: 30px;
    margin-left: 15px;
}
.salir{
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 20px;
    transition: all 100ms ease-in-out;
}

.chat{
    width: 40rem;
    min-height: 100vh;
}
.elementos{
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    width: 20rem;
    text-align: center;
}
.elementos img{
    margin-top: 35px;
    margin-right: 10px;
}

/* iconos */

.fa-home{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-comments{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-project-diagram{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-poll-h{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-user-graduate{
    font-size: 24px;
    transition: all 100ms ease-in-out;
}
.fa-door-closed{
    transition: all 100ms ease-in-out;
    font-size: 24px;
    color: white;
}
.fa-globe{
    color: green;
    animation: pulso 5000ms infinite;
}
.salir span{
    transition: all 100ms ease-in-out;
    color: white;
}
.salir:hover{
    color: red;
    padding-top: 10px;
}
.salir .fa-door-closed:hover{
    color: red;
}
#menu-bars{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background: #5f6061;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#ajuste-bars{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    position: fixed;
    top: 4rem; right: 1rem;
    z-index: 10000;
    background: #0d4f9b;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.404);
}

#ajuste-bars:hover{
    animation: rotacion 1000ms infinite;
}
@media (max-width: 1224px){
    nav{
        min-width: 14rem;
    }
    .slidebar-top{
        position: relative;
        display: flex;
        align-items: center;
        margin: 10px;
        margin-top: 80px;
        text-align: center;
    }
    .slidebar-top h3{
        color: white;
        text-align: center;
        font-size: 1.6em;
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .perfil{
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.247);
        height: 70px;
    }
    .perfil img{
        margin: 5px;
        width: 60px;
        margin-left: 15px;
        border-radius: 100px;
        border: solid black 2px;
    }
    .contenedor p{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .contenedor .rango{
        font-size: 12px;
    }
    .fa-globe{
        font-size: 12px;
    }
    .online{
        font-size: 12px;
    }
}
@media (max-width: 991px){
    #menu-bars{
        display: initial;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
@keyframes pulso{
    0%{
        color: rgb(93, 212, 69);
    }
    50%{
        color: rgb(255, 255, 255);
    }
    100%{
        color: rgb(93, 212, 69);
    }
}
@keyframes rotacion{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}